.cli img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  //   background-color: red;
  grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
