.languages .card {
  text-align: center;
  margin: 18 10px 40px;
  transition: transform 0.2s ease-in;
  //   overflow: visible;
}

.languages img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.languages .flex {
  flex-wrap: wrap;
}

.languages .card h4 {
  font-size: 20px;
}

.languages .card:hover {
  transform: translateY(-15px);
}
