.showcase {
  z-index: -10;
  height: 400px;
  background-color: var(--primary-color);
  color: white;
  position: relative;

  & h1 {
    font-size: 40px;
  }

  & p {
    margin: 20px 0;
  }

  & .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
  }

  &::before,
  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    height: 100px;
    bottom: -15px;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(-30deg);
  }

  // &::before {
  //   content: "";
  //   background-color: red;
  //   height: 10px;
  //   position: absolute;
  //   right: 0;
  //   left: 0;
  //   top: 70px;
  // }
  // &::after {
  //   content: "";
  //   background-color: red;
  //   height: 10px;
  //   position: absolute;
  //   right: 0;
  //   left: 0;
  //   top: 60px;
  //   border-radius: 30px;
  // }
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;

  & .form-control {
    margin: 30px 0;
  }

  & input[type="text"],
  & input[type="email"] {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
  }

  & input:focus {
    outline: none;
  }
}

.card {
  background-color: white;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}
