.stats {
  padding-top: 100px;
  // z-index: 120;

  .stats-heading {
    max-width: 500px;
    margin: auto;
  }

  & .grid h3 {
    font-size: 35px;
  }

  & .grid p {
    font-size: 20px;
    font-weight: bold;
  }
}
