@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

// font-family: 'Lato', sans-serif;

:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002248;
  --light-color: #f4f4f4;
}
